*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: #FFFFFF;

}

header{

}
.orden{

}

#definición{

}

h2{

}

h3{

}

.gris{
    background-color: #1E1A13;
}

footer{
    
}